* {
    margin: 0;
    padding: 0;
    border: 0;
}
.head{
    background-color: black;
}
.body {
    background-color:black;

    

}

.body a{
    padding: 7pt;
    padding-top: 0;
    font-size: 20pt;
    color: grey;
}
.body a:hover{
    color:skyblue;

}
.read{
    color: white;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 40pt;
    border-bottom: 2pt solid skyblue;
    border-radius: 0.5rem;
    width: 400pt;
    margin-bottom: 30px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
 

}
.cont1{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.links{
    display: flex;
    justify-content: center;
    align-items: center;
    

}
/* .label{
    color: red;
    display: flex;
    justify-content: space-between;
    cursor: grab;
    
  } */
.label{
    color: red;
    display: flex;
    justify-content: space-between;
    cursor: grab;
    
  }
#check1{
    display: none;
}

#check2 {
    display: none;
}
#check3{
    display: none;
}
#check4{
    display: none;
}
.content1{
    color: white;
    display: none;
}
.content2{
    color: white;
    display: none;
}
.content3{
    color: white;
    display: none;
}
.content4{
    color: white;
    display: none;
}
.content1 ul{
    list-style-type: decimal;
}

.content1 ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
#check1:checked~.content1{
    display: block;
    padding-left: 35px;
    width: 500pt;
}
.content1 h2{
    color: royalblue;
    text-decoration: underline;
}
.description{
    padding-left: 20pt;
}
.content1 a{
    font-size: 11pt;

}
.content1 a:hover{
    color: maroon;
}
#check2:checked~.content2{
    display: block;
    padding-left: 35px;
    width: 500pt;
}
#check3:checked~.content3{
    display: block;
    padding-left: 35px;
    width: 600pt;
    padding-bottom: 25px;
}
#check4:checked~.content4{
    display: flex;
    padding-left: 35px;
    width: 700pt;
    
}
.abMe{
    border: 2pt solid skyblue;
    margin: 10px;
    text-align: center;
    padding: 8pt;
}
.name{
   color:royalblue;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 30px ;
}
.extra{
    text-align: center;
    color:royalblue;
    padding-bottom: 20px ;
}
footer{
    padding-top: 60px;
}

.descript{
    display: flex;
    max-height: 500px;
    padding: 10pt ;
    border-radius: 0.5rem;
    border-bottom: 2pt solid royalblue;
}
.descript .li{
    text-decoration: underline;
    color: royalblue;
}
.op1{
    width: 55%;
    padding-right: 8pt;
}
.op2{
    width: 55%;
    
}
.op2 img{
    width: 80%;
    height: 300px;
}

@media all and (max-width: 500px){
    .name{
        font-size: 10pt;
    }
    .extra{
        font-size: 9pt;
    }
    .read{
        width: 80%;
        font-size: 8pt;
        padding-left: 0px;
        padding-right: 0px;

    }
    .links a{
        font-size: 10pt;
    }
    .cont1{
        width: 85%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .content1 a{
        font-size: 7pt;
    }
    #check1:checked~.content1{
        width: 80%;
        font-size: 8pt;
    }
    .content3{
        width: 80%;
        
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    #check2:checked~.content2{
        width: 80%;
        font-size: 8pt;
    }
    #check2:checked~.content2 ul{
        list-style: numeric;
        
    }
    #check2:checked~.content2 li{
        border-top: 0.05rem solid red;
        border-bottom: 0.05rem solid red;
        padding-top: 5pt;
        padding-bottom: 5pt;
    }
    #check3:checked~.content3{
        width: 80%;
        font-size: 8pt;
    }
    #check3:checked~.content3 .descript{
        width: 100%;
        display: block;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-top: 0.05rem solid red;
        border-bottom: 0.05rem solid red;
    }
    #check3:checked~.content3 .descript .op1, .op2{
        width: 100%;

        align-items: center;
        justify-content: center;
    }
    #check4:checked~.content4{
        width: 80%;
        font-size: 9pt;
        display: block;
    }
    #check4:checked~.content4 .abMe{
        border: none;
        border-bottom: 0.1rem solid royalblue;
    }

}
